<script src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous" defer></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js" crossorigin="anonymous" defer></script>
<script src="js/vendor.js" defer></script>
<script src="js/jquery.main.js" defer></script>
